<!--{include header}-->

  <div class="clr"></div>
  <div id="inner-content">
  	<div class="inner-content-top"></div>
	<div class="inner-content-middle">
		<h1>Sign in&nbsp;or&nbsp;<a href="/account/signup.php">Sign up </a></h1>
		
		<div class="clr"></div>
		<div class="inner-left">
		<form id="login-user-form" method="post" action="/account/login.php" class="validator">
			<div class="caption" style="width:100px;">Email:</div><div><input type="text" size="30" name="email" id="login-email-address" class="f-input" value="" require="true" datatype="email" />
			<span class="red">*</span></div>
			<div class="caption" style="width:100px;">Password:</div><div><input type="password" size="30" name="password" id="login-password" class="f-input" require="true" datatype="require" />
			<span class="red">*</span><br>
			 <span class="lostpassword" style="margin-left:100px"><a href="/account/repass.php">Forgot your password?</a></span><br> </div>
			<div class="caption" style="margin-left:100px"> <input type="checkbox" value="1" name="auto-login" id="autologin" class="f-check" checked />
                            <label for="autologin">Auto login next time</label></div>
			<div style="clear:both;margin-left:100px;"><input type="submit" value="Login" name="commit" id="login-submit" class="submit"/></div>
		</form>
		</div>
		<div class="inner-right">
		<h3>Dont have&nbsp;{$INI['system']['abbreviation']}&nbsp;account?</h3><p><a href="/account/signup.php">Register </a>&nbsp;it&nbsp;now!

</p>
		</div>
		<div class="clr"></div>
	</div>
	<div class="inner-content-bottom"></div>  
  </div>

<!--{include footer}-->
