<div id="order-pay-dialog" class="order-pay-dialog-c" style="width:480px;">
	<h3><span id="order-pay-dialog-close" class="close" onclick="return X.boxClose();">Close</span></h3>
	<div style="overflow-x:hidden;padding:10px;">
	<table width="96%" align="center" class="coupons-table">
		<tr><td width="80"><b>Username: </b></td><td>{$user['username']}</td></tr>
		<tr><td><b>Email: </b></td><td>{$user['email']}</td></tr>
		<tr><td><b>BuyItem: </b></td><td>{$team['title']}</td></tr>
		<tr><td><b>BuyAmount: </b></td><td>{$order['quantity']}</td></tr>
		<tr><td><b>Payment Status: </b></td><td>{$paystate[$order['state']]}</td></tr>
		<tr><td><b>Payment Detail: </b></td><td><!--{if $order['credit']}-->User Credit <b>${moneyit($order['credit'])}</b> Dorllars<!--{/if}-->&nbsp;<!--{if $order['money']}-->{$payservice[$order['service']]} Pay  <b>${moneyit($order['money'])}</b> Dorllars<!--{/if}--></td></tr>

	<!--{if $user['mobile']}-->
		<tr><td><b>Mobile: </b></td><td>{$user['mobile']}</td></tr>
	<!--{/if}-->
	
	<!--{if $user['qq']}-->
		<tr><td><b>QQ: </b></td><td>{$user['qq']}</td></tr>
	<!--{/if}-->

	<!--{if $user['msn']}-->
		<tr><td><b>MSN: </b></td><td>{$user['msn']}</td></tr>
	<!--{/if}-->
	<!--{if $team['delivery']=='express'}-->
		<tr><th colspan="2"><hr/></th></td>
		<tr><td width="80"><b>Receiptant: </b></td><td>{$order['realname']}</td></tr>
		<tr><td><b>HandPhone: </b></td><td>{$order['mobile']}</td></tr>
		<tr><td><b>Address: </b></td><td>{$order['address']}</td></tr>
	<!--{/if}-->
	</table>
	</div>
</div>
