<div id="daily-deals-right">
		<div class="daily-deals-right-top"></div>
		<div class="daily-deals-right-middle">
		<h2>Your Checkout Progress<br />

		  <br />
		</h2>
		<p>Billing Address<br />Payment Method</p>
		</div>
		<div class="daily-deals-right-bottom"></div>
		<div class="daily-deals-right-top"></div>
		<div class="daily-deals-right-middle">
		<h2>Online Payment & Security<br />

		  <br />
		</h2>
		<h3>Questions about payment?</h3>
		<p>Billing Address<br />Payment Method<br />
		  <br />
		</p>
		<h2>Call: +971-4-2831911</h2>

		<p>email: support@moosavings.com<br />
		  <br />
		</p>
		<h3>How secure is buying here?</h3>
		<p>Extremely secure. We don't store payment info on our servers. We use eBay-owned PayPal to process credit card and PayPal payments, and we use VeriSign's highest level of SSL encryption (click the logo below; check for the green address bar).
          <br />
		  <br />
		</p>

		<h3>Am I charged right away?
</h3>
		<p>f the deal hasn't tipped yet, no. We first authorize your credit card. When the deal tips, we charge your card and send you a receipt. If the deal doesn't tip we cancel this card authorization, and you're not charged.<br />
		  <br />
		</p>
		<h3>What's happens after tipping/buying?
</h3>
		<p>You'll get your receipt right away. You'll get your Nabit voucher the next business day after the deal closes.
          <br />
		  <br />

		</p>
<h3>Do you give refunds?</h3>
<p>We handle all refund enquiries ourselves, not the local business. More info here.</p>
		</div>
		<div class="daily-deals-right-bottom"></div>
		</div>
