
			<h2>Have a gift card?</h2>
              <div style="display: block; overflow: visible;" class="toggle_content">
              <form method="post" class="groupon_form" action="/my/gift_cards/redemptions.php" style="">
              <input type="hidden" name="id" value="{$team['id']}" />
                  <div class="field">
                    <p>
                      <label>Enter your redemption code:</label>
                      <input type="text" name="code" id="code">
                    </p>
                  </div>
                  <div style="text-align:right;">
                    <button class=" large_green_button"><span>Redeem</span></button>
                  </div>
                </form>

</div>
