<!--{include header}-->

<div class="clr"></div>
<div id="main-content" style="margin-top:10px;">
  <div id="left" style="background-color:white;width:726px;">
		<h1 style="padding:10px;">Charities</h1>
		<div id="referrals">
		<div id="content">
		<!--{loop $charities $index $one}-->
						<div style="background:#f7fff6; padding:10px; border:1px solid #d1eece;display:block;margin:0px 10px;"> 
			              <div style="width:220px;  margin-right:10px; float:left;"> <img src="${team_image($one['image'])}" style="width:200px;"> </div> 
			              <div style="width:385px; float:right; text-align:justify; "> 
			                <div style="color:#386a32; font-size:16px; margin-bottom:10px; font-weight:bold; border-bottom:1px dotted #afd1ab; padding-bottom:10px;">{$one['name']}</div> 
			                <p>{$one['description']}</p> </div> 
			              <div class="clr"></div> 
			            </div>
					<!--{/loop}-->
					<div class="clr"></div>
					<div>{$pagestring}</div>
		</div></div>
	</div>
	   <div id="right" style="margin-left:15px;">
   
    </div>
  </div>
<!--{include footer}-->
