<!--{include header}-->



  <div class="clr"></div>
  <div id="inner-content">
  	<div class="inner-content-top"></div>
	<div class="inner-content-middle">
		<div id="daily-deals-left">
		 <div id="account-category" style="float:right;">
			<h3 class="credit-title">Your Current Balance Is:  <strong>${moneyit($login_user['money'])}</strong> Dollars</h3>
		 </div>
		<h2>Your purchase:</h2>
		<div id="container-account">
			<ul class="account-4">${current_account('/credit/index.php')}</ul>

			<div id="account-tab-1">
            <table width="743" border="0" cellpadding="0" cellspacing="0" id="account">
			<tr>
				<td>
					<table width="741" border="0" align="center" cellpadding="0" cellspacing="0" style="border-collapse:separate">
					  <tr>
                      	<th class="normal">Time</th>
						<th style="width:155px;">Detail</th>

						<th style="width:130px;">Pay and Receive</th>
						<th style="width:95px">Total Amount</th>
					  </tr>
					 <!--{loop $flows $index $one}-->
					  <tr valign="middle" ${$index%2?'':'style="background-color:#ebffc7"'}>
					    <td ${$index%2?'class="normal"':'class="highlight"'}>
						${date('Y-m-d H:i',
                        $one['create_time'])}
						</td>
					    <td>{$action[$one['action']]}&nbsp;-&nbsp;<!--{if
                        $one['action']=='coupon'}-->{$INI['system']['couponname']}Rebate<!--{elseif $one['action']=='invite'}-->Friends:
                        {$users[$one['detail_id']]['username']}<!--{elseif $one['action']=='buy'}--><a href="/team.php?id={$one['detail_id']}">{$teams[$one['detail_id']]['product']}</a><!--{elseif $one['action']=='refund'}--><a href="/team.php?id={$one['detail_id']}">{$teams[$one['detail_id']]['product']}</a><!--{elseif $one['action']=='store'}-->Topup<!--{/if}-->
                        </td>
					    <td>${$one['direction']=='income'?'Receive':'Pay'}</td>
						<td>${moneyit($one['money'])}</td>
				      </tr>
					  <!--{/loop}-->
					  <tr><td colspan="5">{$pagestring}</td></tr>
				  </table>
				</td>
			</tr>

		</table>
            </div>
		</div>
		</div>
		<!--{include block_side_credit}-->
		
		<div class="clr"></div>
	</div>
	<div class="inner-content-bottom"></div>  
  </div>



<!--{include footer}-->
