<!--{include header}-->

<div class="clr"></div>
<div id="main-content" style="margin-top:10px;">
  <div id="left" style="background-color:white;width:776px;">
		<h1 style="padding:10px;">Gift Card </h1>
		<div id="referrals">
		<div id="content">
		 <div class="sect">
					<p>Customize Your Gift Card.</p>
                    <form id="feedback-user-form" method="post" action="/gift_cards/giftpay.php" class="validator">
                        <div class="field from">
                            <label for="feedback-fullname">From</label>
                            <input type="text" size="30" name="from" id="feedback-fullname" class="f-input" value="{$login_user['username']}" require="true" datatype="require" />
                        </div>
                        <div class="field to">
                            <label for="feedback-email-address">To</label>
                            <input type="text" size="30" name="to" id="gift_card_to" class="f-input" require="true" datatype="require" />
                        </div>
                        <div class="field message">
                            <label for="feedback-suggest">Personal Message: <span>(Optional)</span></label>
                            <textarea cols="30" rows="5" name="message" id="gift_card_message" class="xheditor-simple"></textarea>
                        </div>
                        <div class="field amount">
                            <label for="feedback-suggest">Amount:</label>
                           <input type="text" value="25" size="4" name="amount" maxlength="4" id="gift_card_value">
                      .00
                        </div>
                        <div class="field">
                        	<label for="gift_card_Delivery:">Delivery:</label>
		                    <span>
		                      <input type="radio" value="email" name="gift_card[delivery]" id="gift_card_delivery_method_email" class="radio" checked="checked">
		                      Email it to
		                      <input type="text" title="Enter email here" size="30" name="gift_card[delivery][email_address]" id="gift_card_delivery_email_address" class="prompting_field prompting input" autocomplete="off"><br/>
		                      <input type="radio" value="print" name="gift_card[delivery]" id="gift_card_delivery_method_print" class="radio">
		                      I'll print it myself
		                    
		                    </span>
                        </div>
                        <div class="clr"></div>
                        <div class="paytype">
				<div class="order-check-form "> 
					<ul class="typelist">
					<!--{if $INI['paypal']['mid']}-->
						<li><input id="check-paypal" type="radio" name="paytype" value="paypal" {$ordercheck['paypal']} /><label for="check-paypal" class="paypal">PayPal</label></li>
					<!--{/if}-->					
					<!--{if $INI['alipay']['mid']}-->
						<li><input id="check-alipay" type="radio" name="paytype" value="alipay" {$ordercheck['alipay']} /><label for="check-alipay" class="alipay">Apipay payment for taobao users</label></li>
					<!--{/if}-->
					<!--{if $INI['chinabank']['mid']}-->
						<li><input id="check-chinabank" type="radio" name="paytype" value="chinabank" {$ordercheck['chinabank']} /><label for="check-chinabank" class="chinabank">Support many banks..</label></li>
					<!-- {/if} -->
					<!--{if $INI['migs']['mid']}-->
						<li><input id="check-chinabank" type="radio" name="paytype" value="migs" {$ordercheck['migs']} /><label for="check-chinabank" class="chinabank">MIGS payment</label></li>
					<!--{/if}-->
					<li><input id="check-alipay" type="radio" name="paytype" value="cash" {$ordercheck['alipay']} /><label>Cash on Delivery</label></li>
					</ul>
					<div class="clr"></div>
					<p class="check-act">
					<input type="submit" name="giftpay" value="Submit" class="submit" />
					</p>
				</div>
				</div>
                    </form>
				</div></div></div>
	</div>
	   <div id="right" style="margin-left:15px;">
     
    </div>
  </div>
<!--{include footer}-->
