
Hi {$user['username']}!
You have successfully submitted your registration details at <a href="www.moosavings.com">moosavings.com</a>
In order to complete your registration, please verify your account by visiting the link below:
{$INI['system']['wwwprefix']}/account/verify.php?code={$user['secret']}
We¡¯ll be bringing you some of the hottest deals in town, day after day, every day.
It¡¯s time for moore offers, moore deals, moore savings.
Welcome to the moovement!
The Moosavings Team
Follow us on:
(link facebook)                      (link twitter)
