<!--{include manage_header}-->

<div id="bdw" class="bdw">
<div id="bd" class="cf">
<div id="coupons">
	<div class="dashboard" id="dashboard">
		<ul>${mcurrent_order('pay')}</ul>
	</div>
    <div id="content" class="coupons-box clr mainwide">
		<div class="box clr">
            <div class="box-top"></div>
            <div class="box-content">
                <div class="head">
                    <h2>Paid Order</h2>
					<ul class="filter">
						<li><form name='main-form' action="/manage/order/pay.php" method="get">User's Email：<input type="text" name="uemail" value="${htmlspecialchars($uemail)}" >&nbsp;<input type="submit" name="mysubmit" value="Filter" class="formbutton"  style="padding:1px 6px;"/>
						&nbsp;<input type="submit"  name="mysubmit" value="Export" class="formbutton"  style="padding:1px 6px;"/><form>
						
						</li>
					</ul>
				</div>
                <div class="sect">
					<table id="orders-list" cellspacing="0" cellpadding="0" border="0" class="coupons-table">
					<tr><th width="40">ID</th><th width="390">Item</th><th width="180">Username</th><th width="40">Quantity</th><th width="50">Total Amount</th><th width="50">Unpaid Amount</th><th width="50">Pay</th><th width="50">Operation</th></tr>
					<!--{loop $orders $index $one}-->
					<tr ${$index%2?'':'class="alt"'} id="order-list-id-{$one['id']}">
						<td>{$one['id']}</td>
						<td><a class="deal-title" href="/team.php?id={$one['team_id']}" target="_blank">{$teams[$one['team_id']]['title']}</a></td>
						<td>{$users[$one['user_id']]['email']}<br/>{$users[$one['user_id']]['username']}</td>
						<td>{$one['quantity']}</td>
						<td><span class="money">{$currency}</span>${moneyit($one['origin'])}</td>
						<td><span class="money">{$currency}</span>${moneyit($one['credit'])}</td>
						<td><span class="money">{$currency}</span>${moneyit($one['money'])}</td>
						<td class="op"><a href="/ajax/manage.php?action=orderview&id={$one['id']}" class="ajaxlink">Detail</a></td>
					</tr>
					<!--{/loop}-->
					<tr><td colspan="8">{$pagestring}</tr>
                    </table>
				</div>
            </div>
            <div class="box-bottom"></div>
        </div>
    </div>
</div>
</div> <!-- bd end -->
</div> <!-- bdw end -->

<!--{include footer}-->
