<!--{include header}-->

 <div class="clr"></div>
  <div id="inner-content">
  	<div class="inner-content-top"></div>
	<div class="inner-content-middle">
		<div id="daily-deals-left">
		 <div id="account-category" style="float:right;">
			Order Number: 
        <strong>{$order['id']}</strong>
        Order Time:
        ${date('m.d.Y:i',$order['create_time'])}
		</div>
		<h2>Your purchase:</h2>

		<div id="container-account">
			<ul class="account-1">${current_account('/order/index.php')}</ul>

			<div id="account-tab-1">
            <table width="743" border="0" cellpadding="0" cellspacing="0" id="account" >
			<tr>
				<td>
					<table width="741" border="0" align="center" cellpadding="0" cellspacing="0" style="border-collapse:separate">
					<tr>
						<th class="left" width="auto">Deal Item</th>
						<th width="35">Value</th>
						<th width="45">Quantity</th>
						<th width="45">Total amount</th>
						<th width="45">Payment Method</th>
						<th width="150">Status</th>
					</tr>
					  <tr valign="middle" style="background-color:#ebffc7">
					    <td class="normal">
						<a class="deal-title" href="/team.php?id={$order['team_id']}" target="_blank">{$team['title']}</a>
						</td>
					    <td><span class="money">{$currency}</span>${moneyit($team['team_price'])}</td>
					    <td>{$order['quantity']}</td>
					    <td><span class="money">{$currency}</span>${moneyit($team['team_price']*$order['quantity'])}</td>
						<td>${$order['service']=='cash'?"Cash on Delivery":$order['service']}</td>
						<td class="status"><!--{if $order['state']=='unpay'}-->Pending<!--{elseif !$express}-->Done<!--{else}-->-<!--{/if}--></td>
				      </tr>
				  </table>
				</td>
			</tr>

		</table>
		<table cellspacing="0" cellpadding="0" border="0" class="data-table" style="font-size:16px;">
    <tr>
        <th>{$INI['system']['couponname']}：</th>
        <td class="other-coupon"><!--{if empty($coupons)}-->{$INI['system']['couponname']}System will send it when the deal is on.<!--{/if}--><!--{loop $coupons $one}--><p>{$one['id']} - {$one['secret']}</p><!--{/loop}--></td>
    </tr>
    <tr>
        <th width="115px">How To Use: </th>
        <td><p>Please show {$INI['system']['couponname']} when you are using this coupon. Be cooperative when your coupon and password is confirmed.<p></td>
    </tr>
</table>
            </div>
		</div>
		</div>
		<!--{include block_side_aboutorder}-->
		
		<div class="clr"></div>
	</div>
	<div class="inner-content-bottom"></div>  
  </div>

<!--{include footer}-->
