<!--{include header}-->

  <div class="clr"></div>

  <div id="inner-content">

  	<div class="inner-content-top"></div>

	<div class="inner-content-middle">

		<div id="daily-deals-left">
		<h2>Your purchase:</h2>

		<table width="743" border="0" cellpadding="0" cellspacing="0" id="cart">
			<tr>
				<td>
					<table width="741" border="0" align="center" cellpadding="0" cellspacing="0">
					  <tr>
						<th class="cart-left-bg" style="width:125px;">&nbsp;</th>
						<th style="width:338px;text-align:center;">Product Name</th>
						<th style="width:95px;text-align:center;">Unit Price</th>
						<th style="width:75px;text-align:center;">Qty</th>
						<th class="cart-right-bg" style="width:106px;text-align:center;">Subtotal</th>
					  </tr>
					  <tr valign="top">
						<td><img src="${team_image($team['image'])}" width="110px"/></td>
						<td><p>{$team['title']}</p></td>
						<td><p>{$team['team_price']}</p></td>
						<td><input type="text" value="{$order['quantity']}" readonly>
						</td>
						<td class="cart-last"><p>{$team['team_price']*$order['quantity']}</p></td>
					  </tr>
				  </table>
				</td>
			</tr>
		</table>

		<div class="cart-button"><input type="button" value="Cancel" class="cancel"><input type="button" value="Update shopping cart" class="update-shopping-cart"></div>

		<div class="clr"></div>

		<h2>Your purchase:</h2>
	<div id="container-dailydeals-4">

			<ul>

				<li>1 Checkout Method</li>

				<li>2 Buy For Friend</li>

				<li>3 Billing Information</li>

				<li class="white">4 Payment Information</li>

				<li>5 Order Review</li>

			</ul>

			<div id="tab-2">
				
				<div class="paytype">
                <form action="/order/pay.php" method="post" class="validator">
				<div class="order-check-form ">
					<div class="order-pay-credit">
						<h3>Your Balance</h3>
						<p>Account balance: <strong><span class="money">{$currency}</span>${moneyit($login_user['money'])}</strong> <!--{if $login_user['money']<$order['origin']}-->You don't have enough balance, please make another <strong><span class="money">{$currency}</span>${moneyit($order['origin']-$login_user['money'])}</strong> Payment. Choose Your Paymenht: <!--{else}-->Your balance is enough to pay this order, please confirm or choose other payments.<!--{/if}--></p>
						<div class="other_pay">{$INI['other']['pay']}</div>
					</div>  
				<!--{if $login_user['money']<$order['origin']}-->
					<div class="typelist">
					<span class="cod"><input id="check-cod" type="radio" name="paytype" value="cash" {$ordercheck['cod']} /><label for="check-paypal" style="padding-left:30px;">Cash on Delivery</label></span>
					<!--{if $INI['paypal']['mid']}-->
						<span class="pay" style="display:block;"><input id="check-paypal" type="radio" name="paytype" value="paypal" {$ordercheck['paypal']} /><label for="check-paypal" class="paypal" style="padding-left: 110px; padding-top: 12px;">PayPal payment</label></span>
					<!--{/if}-->					
					<!--{if $INI['alipay']['mid']}-->
						<span><input id="check-alipay" type="radio" name="paytype" value="alipay" {$ordercheck['alipay']} /><label for="check-alipay" class="alipay">Apipay payment for taobao users</label></span>
					<!--{/if}-->
					<!--{if $INI['migs']['mid']}-->
						<span style="display:block;"><input id="check-migs" type="radio" name="paytype" value="migs" {$ordercheck['migs']} /><label for="check-migs" style="padding-left:30px;"> MIGS payment</label></span>
					<!--{/if}-->
					<!--{if $INI['chinabank']['mid']}-->
						<span><input id="check-chinabank" type="radio" name="paytype" value="chinabank" {$ordercheck['chinabank']} /><label for="check-chinabank" class="chinabank">Support many banks..</label></span>
					<!--{/if}-->
					</div>
				<!--{else}-->
					<input type="hidden" name="paytype" value="credit" />
				<!--{/if}-->
					<div class="clr"></div>
					<p class="check-act">
					<input type="hidden" name="order_id" value="{$order['id']}" />
					<input type="hidden" name="team_id" value="{$order['team_id']}" />
					<input type="hidden" name="cardcode" value="" />
					<input type="hidden" name="quantity" value="{$order['quantity']}" />
					<input type="hidden" name="address" value="{$order['address']}" />
					<input type="hidden" name="express" value="{$order['express']}" />
					<input type="hidden" name="remark" value="{$order['remark']}" />
					<input type="submit" value="Confirm and pay the order" class="formbutton" /> <a href="/team/buy.php?id={$order['team_id']}" style="margin-left:1em;">Back to Change the Order</a>
					</p>
				</div>
				</form>
				</div>					

			</div>

		</div>
			<!--{/if}-->
		</div>

		<div id="daily-deals-right">

		<div class="daily-deals-right-top"></div>

		<div class="daily-deals-right-middle">

		<h2>Your Checkout Progress<br />

		  <br />

		</h2>

		<p>Billing Address<br />Payment Method</p>

		</div>

		<div class="daily-deals-right-bottom"></div>

		<div class="daily-deals-right-top"></div>

		<div class="daily-deals-right-middle">

		<h2>Online Payment & Security<br />

		  <br />

		</h2>

		<h3>Questions about payment?</h3>

		<p>Billing Address<br />Payment Method<br />

		  <br />

		</p>

		<h2>Call: +971-4-2831911</h2>

		<p>email: support@moosavings.com<br />

		  <br />

		</p>

		<h3>How secure is buying here?</h3>

		<p>Extremely secure. We don't store payment info on our servers. We use eBay-owned PayPal to process credit card and PayPal payments, and we use VeriSign's highest level of SSL encryption (click the logo below; check for the green address bar).

          <br />

		  <br />

		</p>

		<h3>Am I charged right away?

</h3>

		<p>f the deal hasn't tipped yet, no. We first authorize your credit card. When the deal tips, we charge your card and send you a receipt. If the deal doesn't tip we cancel this card authorization, and you're not charged.<br />

		  <br />

		</p>

		<h3>What's happens after tipping/buying?

</h3>

		<p>You'll get your receipt right away. You'll get your Nabit voucher the next business day after the deal closes.

          <br />

		  <br />

		</p>

<h3>Do you give refunds?</h3>

<p>We handle all refund enquiries ourselves, not the local business. More info here.</p>

		</div>

		<div class="daily-deals-right-bottom"></div>

		</div>

		<div class="clr"></div>

	</div>

	<div class="inner-content-bottom"></div>  

  </div>




<!--{include footer}-->
