<!--{include header}-->
<div class="clr"></div>
<div id="main-content" style="margin-top:10px;">
  <div id="left" style="background-color:white;width:776px;">
		<h1 style="padding:10px;">Sorry, payment is failed.</h1>
		<div id="content">
            <div class="sect">
			<!--{if $order_id}-->
				<p class="error-tip">Back<a href="/order/check.php?id={$order_id}">to Order</a> Make your payment again</p>
			<!--{else}-->
                <p class="error-tip">Back<a href="/order/list/unpay.php">to Order</a> Make your payment again.</p>
			<!--{/if}-->
            </div>
		</div>
	</div>
	   <div id="right" style="margin-left:15px;">
    </div>
  </div>
<!--{include footer}-->
