<!--{include header}-->
<div class="clr"></div>
<div id="main-content" style="margin-top:10px;">
  <div id="left" style="background-color:white;width:776px;">
		<h1 style="padding:10px;">Invitation Rebate </h1>
		<div id="referrals">
		<div id="content">
		<div class="sect">
                <p class="intro">Once you friend accept this invitation and buy a deal on {$INI['system']['sitename']} successfully, you will get {$INI['system']['invitecredit']} rebate on your {$INI['system']['sitename']} account credit. You can pay by you accouont credit next time you buy a deal.</p>
                            <p class="login">Please <a href="/account/login.php?r={$currefer}">Login</a> or <a href="/account/signup.php">Register </a> and get your invitation link.</p>
        				                </div>
		</div></div>
	</div>
	   <div id="right" style="margin-left:15px;">
     <!--{include block_side_invitetip}-->
    </div>
  </div>
<!--{include footer}-->
