<!--{include header}-->

<div class="clr"></div>
<div id="main-content" style="margin-top:10px;">
  <div id="left" style="background-color:white;width:776px;">
		<h1 style="padding:10px;">List successfully invitated</h1>
		<div id="referrals">
		<div id="content">
		<div class="sect">
					<p class="notice-total">You have invitated <strong>{$count}</strong> friends and get <strong><span class="money">{$currency}</span>{$money}</strong> dollar rebate, <a href="/account/invite.php">Back And Invite Others</a>.</p>
					<table cellspacing="0" cellpadding="0" border="0" class="coupons-table">
					<tr><th width="120">Username</th><th width="305">Deal Item</th><th width="150">Buy Time</th><th width="40">Rebate</th></tr>
					<!--{loop $invites $index $one}-->
						<tr ${$index%2?'class="alt"':''}><td>{$users[$one['other_user_id']]['username']}</td><td style="text-align:left"><a href="/team.php?id={$one['team_id']}" target="_blank">{$teams[$one['team_id']]['title']}</a></td><td>${date('Y-m-d H:i', $one['buy_time'])}</td><td><span class="money">{$currency}</span>{$one['credit']}</td></tr>
					<!--{/loop}-->
					</table>
				</div>
		</div></div>
	</div>
	   <div id="right" style="margin-left:15px;">
     <!--{include block_side_invitetip}-->
    </div>
  </div>
<!--{include footer}-->
