<div id="order-pay-dialog" class="order-pay-dialog-c" style="width:450px;">
	<h3><span id="order-pay-dialog-close" class="close" onclick="return X.boxClose();">Close</span>${$charity?'Edit':'New'}</h3>
	<div style="overflow-x:hidden;padding:10px;">
<form method="post" action="/manage/charity/charityedit.php" enctype="multipart/form-data" class="validator">
	<input type="hidden" name="id" value="{$charity['id']}" />
	<table width="96%" class="coupons-table">
		<tr><td width="80" nowrap><b>Name: </b></td><td><input type="text" name="name" value="{$charity['name']}" require="true" datatype="require" class="f-input" /></td></tr>
		<tr><td nowrap><b>Description:</b></td><td><textarea cols="45" rows="5" name="description" id="team-create-userreview" class="noclass">${htmlspecialchars($charity['description'])}</textarea></td></tr>
		<tr><td nowrap><b>Image: </b></td><td><input type="file" size="30" name="upload_image" id="team-create-image1" class="f-input" />
						<!--{if $charity['image']}--><span class="hint"><img alt="" src="${team_image($charity['image'])}"></span><!--{/if}--></td></tr>
		<tr><td colspan="2" height="10">&nbsp;</td></tr>
		<tr><td></td><td><input type="submit" value="Submit" class="formbutton" /></td></tr>
	</table>
</form>
	</div>
</div>
