
<!--{if $others}-->
       <div class="side-bar-heading">
          <h2>
          Side Deal
          </h2>
        </div>
        <!--{loop $others $one}-->
        <div class="side-bar-inner">
          <p>${++$index}. {$one['title']}</p>
          <a href="/team.php?={$one['id']}"><img src="${team_image($one['image'])}" width="195" height="148" border="0" /></a>
          <div class="valued">
            <a href="/team.php?id={$one['id']}">&raquo;&nbsp;Check Detail</a>
          </div>
        </div>
        <!--{/loop}-->
  <!--{/if}-->