<!--{include header}-->



  <div class="clr"></div>
  <div id="inner-content">
  	<div class="inner-content-top"></div>
	<div class="inner-content-middle">
		<div id="daily-deals-left">
		 <div id="account-category">
			<ul class="filter">
				<li class="label">Category:  </li>
					${current_coupon_sub('consume')}
			</ul>
		 </div>
		<h2>Your purchase:</h2>
		<div id="container-account">
			<ul class="account-2">${current_account('/coupon/index.php')}</ul>

			<div id="account-tab-1">
            <table width="743" border="0" cellpadding="0" cellspacing="0" id="account">
			<tr>
				<td>
					<table width="741" border="0" align="center" cellpadding="0" cellspacing="0" style="border-collapse:separate">
					  <tr>
                      	<th class="normal">Deal Item</th>
						<th style="width:155px;">Voucher Code</th>

						<th style="width:130px;">Used Date</th>
					  </tr>
					 <!--{loop $coupons $index $one}-->
					  <tr valign="middle" ${$index%2?'':'style="background-color:#ebffc7"'}>
					    <td ${$index%2?'class="normal"':'class="highlight"'}>
						<a class="deal-title" href="/team.php?id={$one['team_id']}" target="_blank">{$teams[$one['team_id']]['title']}</a>
						</td>
					    <td>{$one['id']}</td>
					    <td>${date('Y-m-d', $one['consume_time'])}</td>
				      </tr>
					  <!--{/loop}-->
					  <tr><td colspan="5">{$pagestring}</td></tr>
				  </table>
				</td>
			</tr>

		</table>
            </div>
		</div>
		</div>
		<!--{include block_side_aboutcoupon}-->
		
		<div class="clr"></div>
	</div>
	<div class="inner-content-bottom"></div>  
  </div>



<!--{include footer}-->
