
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">

<head>

<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<title>Moosavings</title>

</head>

<body style="background-color:#fff;font-family:Arial, Helvetica, sans-serif;font-size:8px;color:#676767;">
    <table width="600px" style="border:2px #79A12F solid;background-image:url(http://www.moosavings.com/groupon/static/images/voucher-moo-bg.jpg);
background-position:right bottom;
background-repeat:no-repeat;
border:2px solid #79A12F;
margin-top:25px;
width:600px;">
	  <tr>
		<td width="274px">
		<img src="http://www.moosavings.com/groupon/static/images/logo.jpg" title="Moosavings" alt="Moosavings"/>
		</td>
		<td style="font-size:14px" valign="middle">voucher code:<br />{$coupon['id']}
		</td>
	  </tr>
	  <tr>
		<td colspan="2">
		<div style="border-top:5px solid #79A12F;margin:0 auto;width:580px;height:10px;"></div>
		</td>
	  </tr>
	  <tr valign="top">
	   <td>
		<h2 style="color:#353535;">Deal Name</h2>
		<p>{$team['title']}</p>
		</td>
		<td>
			<h2>Available starting</h2>
			<p>${date('F d,Y', $team['end_time'])}</p>
		</td>
	   </tr>
	   	  <tr valign="top">
	   <td>
		<h2 style="color:#353535;">Recipients</h2>
		<p>{$user['username']}</p>
		</td>
		<td>
			<h2>Location</h2>
			<p>{$partner['location']}</p>
		</td>
	   </tr>
	   	  <tr valign="top">
	   <td>
	<h2>Expires On</h2>

	<p>${date('F d,Y', $coupon['expire_time'])}</p>
		</td>
		<td>
			<h2>Elements</h2>
			<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
		</td>
	   </tr>
	   <tr>
	     <td colspan="2">
		   <table width="100%" border="0" cellspacing="0" cellpadding="0">

			  <tr valign="middle" style="height:25px;">

				<td width="20%">cash paid</td>

				<td><span style="padding:5px 60px;border:1px gray solid;">&nbsp;</span></td>

			  </tr>

			  <tr valign="middle" style="height:25px;">

				<td>group size</td>

				<td><span style="padding:5px 60px;border:1px gray solid;">&nbsp;</span></td>

			  </tr>

			  <tr valign="middle" style="height:25px;">

				<td colspan="3"><span style="padding:0px 5px;border:1px gray solid;margin-right:5px;">&nbsp;</span><label>first visit</label>
				<span style="padding:0px 5px;border:1px gray solid;margin-right:5px;">&nbsp;</span>
				<label style="margin-right:5px;">occasional</label><span style="padding:0px 5px;border:1px gray solid;margin-right:5px;">&nbsp;</span><label>regular</label></td>

			  </tr>

			</table>
		</td>
	   </tr>
	   </table>
	   <table width="600px">
	   <tr>
	     <td colspan="2">
		  <h2 class="how-to-moosavings" style="padding-top:20px;">How to Moosavings it:</h2>

			<ol style="margin-left:20px;">

			<li style="margin-top:5px;margin-bottom:5px;">Download and print the voucher attached to this email.</li>

			<li style="margin-top:5px;margin-bottom:5px;">Make sure you read the terms listed on the voucher.</li>

			<li style="margin-top:5px;margin-bottom:5px;">Call the merchant to book in advance if the service requires a booking.</li>

			<li style="margin-top:5px;margin-bottom:5px;">Redeem your voucher at the respected business and notify them of your voucher.</li>

			<li style="margin-top:5px;margin-bottom:5px;"> Enjoy your experience.</li>

			<li style="margin-top:5px;margin-bottom:5px;">Spread the word!!</li>

			</ol>
		  </td>
		 </tr>
		 <tr>
		  <td colspan="2">
		  
			<div style="background-color:#77A22F;padding-top:1px;margin-bottom:20px;padding-bottom:20px;">

			<h2 style="margin-top:15px;color:#FFFFFF;font-weight:normal;margin-left:20px;">The legal</h2>

			<p style="margin-top:10px;color:#FFFFFF;margin-left:20px;font-size:12px;margin-right:20px;">
			Moosavings is not responsible for the quality and services of the merchant. The voucher could only be used in one entry and not multiple.
		You will not be entitled to credit or cash from the merchant or Moosavings considering you purchased a good or service less than the voucher amount.
		 Neither of the parties (merchant or Moosavings) are responsible for a loss of your voucher.
		The voucher could only be used until the applicable date posted, it is your responsibility to redeem it on time.
		For any further questions, contact us on <a href="mailto:support@moosavings.com">support@moosavings.com</a>
			</p>
			</div>
		</td>
		</tr>
	</table>
</body>

</html>
