<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Strict//EN">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gbk" />
<meta name="robots" content="noindex, nofollow">
</head>
<body bgcolor="#ffffff" style='padding:10px; width:720px; margin:auto;'>
<style type='text/css'>
body {font-family:Helvetica, Arial, sans-serif; color:#000;}
a { color: #399; text-decoration:none;}
a:hover { color: #399; text-decoration:none; }
p { line-height: 1.5em; }
</style>

<div>
	<p width="450px" align="left">
		Hi ,<br>
		Thanks for being a part of Moosavings<br>

		The moopon you applied for needs {$team['min_number']-$team['now_number']} more buyers to go live. Look out for our next e-mail with the result of your bid. 
In the meantime, why not <a href="{$INI['system']['wwwprefix']}/account/invite.php">invite your friends</a> to also bid for the deal and make it tip faster? That way, everyone wins!
(<a href="http://ww.facebook.com">facebook</a>,<a href="www.twitter.com">twitter</a>)
Keep enjoying moore savings and great deals, every day!<br>
The Moosavings team
		
	</p>
</div>
</body>
</html>
