<!--{include manage_header}-->

<div id="bdw" class="bdw">
<div id="bd" class="cf">
<div id="coupons">
	<div class="dashboard" id="dashboard">
		<ul>${mcurrent_misc('ask')}</ul>
	</div>
    <div id="content" class="coupons-box clr mainwide">
		<div class="box clr">
            <div class="box-top"></div>
            <div class="box-content">
                <div class="head">
                    <h2>Question & Answer</h2>
                    <ul class="filter">
						<li><form action="/manage/misc/ask.php" method="get">Item: <input type="text" class="h-input" name="title" value="${htmlspecialchars($title)}" >&nbsp;<input type="submit" value="Filter" class="formbutton"  style="padding:1px 6px;"/><form></li>
					</ul>
				</div>
                <div class="sect">
					<table id="orders-list" cellspacing="0" cellpadding="0" border="0" class="coupons-table">
					<tr><th width="260">Deal Item</th><th width="60">Survey Respondent</th><th width="200">Ask</th><th width="200">Reply</th><th width="120">Operation</th></tr>
					<!--{loop $asks $index $one}-->
					<tr ${$index%2?'':'class="alt"'} id="team-list-id-{$one['id']}">
						<td><a class="deal-title" href="/team.php?id={$one['team_id']}">{$teams[$one['team_id']]['title']}</a></td>
						<td>{$users[$one['user_id']]['username']}</td>
						<td>{$one['content']}</td>
						<td>{$one['comment']}</td>
						<td class="op"><a href="/manage/misc/askedit.php?id={$one['id']}&r={$currefer}">Reply</a>｜<a href="/manage/misc/askremove.php?id={$one['id']}&r={$currefer}" class="remove-record">Delete</a></td>
					</tr>
					<!--{/loop}-->
					<tr><td colspan="6">{$pagestring}</tr>
                    </table>
				</div>
            </div>
            <div class="box-bottom"></div>
        </div>
    </div>
</div>
</div> <!-- bd end -->
</div> <!-- bdw end -->

<!--{include footer}-->
