<!--{include header}-->

<div id="bdw" class="bdw">
<div id="bd" class="cf">
<div id="content">
    <div id="order-pay-return" class="box">
        <div class="box-top"></div>
        <div class="box-content">
                        <div class="head success">
                <h2>Congratulations! Payment is made</h2>.
            </div>
            <div class="sect">
            <p class="nologin-tip">Successful Payment, <a href="javascript:;" onclick="window.close();return false;">Close</a></p>            </div>
                    </div>
        <div class="box-bottom"></div>
    </div>
</div>
<div id="sidebar">
    <div class="sbox">
        <div class="sbox-top"></div>
        <div class="sbox-content">
            <div class="side-tip">
                <h3 class="first">Invitation Rebate</h3>
                <p>Invite Your Friends to wroupon.com and Get You 3 Dollas Rebate<br />
                <a href="/account/referrals.php" target="_blank">Click and Get Your Exempt Invitation Link.</a>
                </p>
            </div>
        </div>
        <div class="sbox-bottom"></div>
    </div>
</div>
</div> <!-- bd end -->
</div> <!-- bdw end -->

<!--{include footer}-->
