<!--{include header}-->
<div class="clr"></div>
<div id="main-content">
  <div id="left">
    <div class="left-1">
		<div class="left-content-top"></div>
		<div class="left-content-middle" style="height:150px;"><p style="margin-left:20px;"><a href="/team.php?id={$team['id']}">&raquo;&nbsp;Back to deal</a>
                  </p><h1 style="float:left;">{$team['title']}</h1>
                  <!--{if $team['state']=='none'}-->
                  <a href="/team/buy.php?id={$team['id']}"><div class="deal-buy" style="float:left;margin-left:25px;">

		</div></a>
                  <!--{/if}-->
          </div>
          <div class="left-content-bottom"></div>
	</div>
	<div class="left-3">
		<div class="left-content-top"></div>
		<div class="left-content-middle">
		 <!--{include team_discussion}-->
          </div>
          <div class="left-content-bottom"></div>
	</div>
	<div class="left-3">
		<div class="left-content-top"></div>
		<div class="left-content-middle">
		 <h1 style="margin-left:20px;">Comment</h1>
		 <div style="margin-left:20px;">
		 <!--{if is_login()}-->
						<form id="consult-add-form1" method="post" action="/ajax/team.php?action=ask&id={$team['id']}">
						<input type="hidden" id="parent_id" value="{$parent_id}"/>
						<textarea class="xheditor-simple" cols="60" rows="5" name="content" id="consult-content1"></textarea>
						<p class="commit">
							<input type="hidden" name="team_id" value="{$team['id']}" />
							<input type="submit" value="OK, Submit" name="commit" class="submit"/>
						</p>
						</form>
                        <div id="consult-add-succ1" class="succ"><p><a href="/team.php?id={$team['id']}">Go back to this deal</a></p></div>
					<!--{else}-->
						Please <a href="/account/login.php?r={$currefer}">Login</a> or <a href="/account/signup.php">Register</a> first before asking.
					<!--{/if}-->
          </div></div>
          <div class="left-content-bottom"></div>
	</div>
  </div>
   <div id="right">
     <!--{include block_side_invite}-->
    </div>
</div>


<!--{include footer}-->
