<!--{include header}-->


<!--{if in_array($team['state'],array('success','soldout'))}-->
<div id="sysmsg-tip" class="sysmsg-tip-deal-close"><div class="sysmsg-tip-top"></div><div class="sysmsg-tip-content"><div class="deal-close"><div class="focus">Sorry, you are late, <br /> this deal is over.</div><div id="tip-deal-subscribe-body" class="body"><form id="tip-deal-subscribe-form1" name="tip_sbuscribe1" method="post" action="/subscribe.php" class="validator"><table><tr><td>Don't miss other deals, subscribe our daily deal news now:&nbsp;</td><td><input type="text" name="email" class="f-text" value="" require="true" datatype="email" /></td><td>&nbsp;<input class="commit" type="submit" value="" /></td></tr></table></form></div></div><span id="sysmsg-tip-close" class="sysmsg-tip-close">Close</span></div><div class="sysmsg-tip-bottom"></div></div>
<!--{/if}-->

<!--{if $order}-->
<div id="sysmsg-tip" ><div class="sysmsg-tip-top"></div><div class="sysmsg-tip-content">You have ordered, not paid yet.<a href="/order/check.php?id={$order['id']}">Check order and make a payment</a><span id="sysmsg-tip-close" class="sysmsg-tip-close">Close</span></div><div class="sysmsg-tip-bottom"></div></div>
<div id="deal-default"> 
<!--{/if}-->

	<div class="clr"></div>

  <div id="main-content">

    <div id="left">

      <div class="left-1">

        <div class="left-content-top"></div>

        <div class="left-content-middle">

		<h1><!--{if $team['state']=='none'}--><span class="green">Today's Deal</span><!--{/if}--> {$team['title']} </h1>

		<div class="clr"></div>

		<div class="left-1-left">
	
	<!--{if ($team['state']=='soldout')}-->
		<div class="main-deal-soldout">
			<h1>{$currency}{$team['team_price']}</h1>
		</div>
	<!--{elseif $team['state']=='none'}-->
	<a href="/team/buy.php?id={$team['id']}">
		<div class="main-deal-buy">
			<h1>{$currency}{$team['team_price']}</h1>
		</div></a>
		<!--{else}-->
		<div class="main-deal-expired">
			<h1>{$currency}{$team['team_price']}</h1>
		</div>
		<!--{/if}-->
		<div class="count-down">

		<p>Value<br />{$currency}{$team['market_price']}<br />
		</p>
		<p>Discount<br />
		${moneyit(100-$discount_rate)}%
		</p>
		<p>You Save<br />
		{$currency}{$discount_price}
		</p>

<div class="clr"></div>

<h1>Time Left to Buy</h1>
<!--{if $team['state']=='none'}-->
<div class="input-field"><input value="{$left_hour}" type="text" /><input value="{$left_minute}" type="text" /><input value="{$left_time}" type="text" /></div><div class="clr"></div>
<!--{else}-->
<div class="input-field"><input value="00" type="text" /><input value="00" type="text" /><input value="00" type="text" /></div><div class="clr"></div>
<!--{/if}-->
<p class="hrs">hrs</p><p class="min">min</p><p class="sec">sec</p>

		</div>
<!--{if $team['state']=='none'}-->
			<!--{if $team['now_number']<$team['min_number']}-->
					<div class="bought">
			
					<h1>{$team['now_number']} bought</h1>
			
					<!--<img src="images/progress.jpg" />-->
			
					<p>{$team['min_number']-$team['now_number']} more need to be bought for the 
			
			deal to tip. <a href="#">Learn more</a><br /></p>
			
					</div>
							<div class="buy-friend">

				<p><a href="/team/buy.php?id={$team['id']}&action=buyforfriend">Buy it for a friend!</a></p>
		
				</div>
		<!--{else}-->
			<div class="bought">
			
					<h1>{$team['now_number']} bought</h1>
			
					<!-- <img src="images/progress.jpg" /> -->
					<p>The deal is tipped!
					<!--{if $team['max_number']>$team['now_number']||$team['max_number']==0}--><br/>You can buy it now. <!--{/if}--></p>
			
					</div>
							<div class="buy-friend">

					<p><a href="/team/buy.php?id={$team['id']}&action=buyforfriend">Buy it for a friend!</a></p>
			
					</div>
					<!--{/if}-->
<!--{else}-->
		<div class="bought">
			<h1>Deal is closed!</h1>
					<p>{$team['now_number']} bought</p>
					
					</div>
	<!--{/if}-->


		</div>

		<div class="left-1-right">

		<!--{include block_team_share}-->


			<div class="main-deal-img">
									<div class="mid">
							<ul>
								<li class="first"><img src="${team_image($team['image'])}"/></li>
							<!--{if $team['image1']}-->
								<li><img src="${team_image($team['image1'])}"/></li>
							<!--{/if}-->
							<!--{if $team['image2']}-->
								<li><img src="${team_image($team['image2'])}"/></li>
							<!--{/if}-->
							</ul>
							<div id="img_list">
								<a ref="1" class="active">1</a>
							<!--${$imageindex=1;}-->
							<!--{if $team['image1']}-->
								<a ref="${++$imageindex}" >{$imageindex}</a>
							<!--{/if}-->
							<!--{if $team['image2']}-->
								<a ref="${++$imageindex}" >{$imageindex}</a>
							<!--{/if}-->
							</div> 
						</div>
			</div>

			<div class="discuss">

			<ul>

			<li class="discuss-left"></li>

			<li><a href="/team/ask.php?id={$team['id']}">Discuss the deal</a></li>

			<li class="discuss-right"></li>

			</ul>

			</div>

			<div class="clr"></div>

			<div class="the-fine-print green-break">

			{$team['summary']}

			</div>

			<div class="highlights">

			{$team['notice']}

			</div>

		</div>

		<div class="clr"></div>

		</div>

        <div class="left-content-bottom"></div>

      </div>

      <div class="left-2">

        <div class="left-content-top"></div>

        <div class="left-content-middle">

          <div class="left-2-left break">
			{$team['detail']}
          </div>

          <div class="left-2-right">

            <h1>Business Info</h1>

            <p>{$partner['title']}

             <br />
			{$partner['location']}
              <br />
              <a href="{$partner['homepage']}" target="_blank">${domainit($partner['homepage'])}</a></p>

          </div>

          <div class="clr"></div>

        </div>

        <div class="left-content-bottom"></div>

      </div>

      <div class="left-3">

        <div class="left-content-top"></div>

        <div class="left-content-middle">

         <!--{include team_discussion}-->


        </div>

        <div class="left-content-bottom"></div>

      </div>

    </div>

    <div id="right">

      <div class="side-bar-1">
	<!--{include block_side_subscribe}-->
      </div>

      <div class="side-bar-2">
	<!--{include block_side_others}-->

      </div>

      <div class="side-bar-3">
	<!--{include block_side_giftcard}-->
      </div>

      <div class="side-bar-4">

        <div class="side-bar-inner"> <img src="/static/images/side-bar-fb.jpg" /> </div>

      </div>

    </div>

  </div>


<!--{include footer}-->
